
img[ profile-image ] {
    background-image: url("../img/checkered.png") ;
    background-size: contain;
}
img[profile-image].profile-image-xs{ height: 24px; width: 24px;}
img[profile-image].profile-image-sm{ height: 32px; width: 32px;}
img[profile-image].profile-image-lg{ height: 80px; width: 80px;}
